In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
train_data = pd.read_csv('train.csv')

In [5]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
###I think with Age,Pclass,Sex we can the survival to filling up the nul values and removing others

In [9]:
train_data = train_data.drop(columns='Cabin',axis=1)

In [12]:
train_data['Age'].fillna(train_data['Age'].mean(),inplace=True)

In [13]:
train_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [14]:
train_data = train_data.drop(columns = 'Embarked',axis = 1)

In [15]:
train_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
dtype: int64

In [19]:
tain_data = train_data.drop('PassengerId',axis = 1,inplace = True)

KeyError: "['PassengerId'] not found in axis"

In [20]:
train_data.isnull().sum()

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
dtype: int64

In [22]:
train_data.drop('Name',axis=1,inplace=True)

In [23]:
train_data.dtypes

Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
dtype: object

In [24]:
train_data.drop('Ticket',axis=1,inplace=True)

In [133]:
train_data.drop('Fare',axis=1,inplace = True)

In [31]:
####Gender is useful to us but (dtype) is object and model can predict better in integers.[Encoding them]

In [27]:
from sklearn.preprocessing import LabelEncoder

In [29]:
lb=LabelEncoder()
train_data['Sex']=lb.fit_transform(train_data['Sex'])

In [134]:
train_data.dtypes

Survived      int64
Pclass        int64
Sex           int32
Age         float64
SibSp         int64
Parch         int64
dtype: object

In [135]:
x = train_data.drop('Survived',axis =1)
y = train_data['Survived']

In [136]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score

In [137]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [138]:
#### Spliting the train_data to train the model
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [139]:
def get_cls_metrics(y_test,y_pred):
    print('Accuracy Score',accuracy_score(y_test,y_pred))
    cm = confusion_matrix(y_test,y_pred)
    print(cm)
    
def train_test_score(model):
    print('Training Score',model.score(x_train,y_train))
    print('Testing Score',model.score(x_test,y_test))

#### Decision Tree Classifier

In [140]:
m1=DecisionTreeClassifier(criterion='gini',max_depth=5)
m1.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=5)

In [141]:
train_test_score(m1)

Training Score 0.842814371257485
Testing Score 0.8116591928251121

In [142]:
ypred_m1= m1.predict(x_test)
print(ypred_m1)

[0 1 1 0 0 0 1 0 1 1 0 1 0 1 0 0 0 0 0 1 1 0 1 0 0 0 1 1 0 1 0 0 0 0 0 1 1
 0 1 1 0 0 1 0 0 1 1 0 0 0 1 0 0 0 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 1 0
 1 1 0 1 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 1 1 1 1 1 0 0 0 1 0 1 1 0 0 0 0
 0 0 1 0 0 1 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 1 0 1 0 0 0 0 0 1 0 1 1
 0 0 0 1 0 0 0 0 1 1 0 1 0 1 1 0 0 0 0 0 0 1 0 0 1 1 0 0 1 1 1 1 0 0 0 0 1
 0]

In [143]:
get_cls_metrics(y_test,ypred_m1)

Accuracy Score 0.8116591928251121
[[121  14]
 [ 28  60]]

#### Random Foresst Classifier

In [144]:
m2=RandomForestClassifier(n_estimators=10,criterion='gini',max_depth=5)
m2.fit(x_train,y_train)

RandomForestClassifier(max_depth=5, n_estimators=10)

In [145]:
train_test_score(m2)

Training Score 0.8338323353293413
Testing Score 0.8251121076233184

#### Kneighbor Classifier

In [146]:
m3=KNeighborsClassifier(n_neighbors=27)
m3.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=27)

In [147]:
train_test_score(m3)

Training Score 0.75
Testing Score 0.6905829596412556

#### Logistic Regression

In [148]:
m4=LogisticRegression()
m4.fit(x_train,y_train)

LogisticRegression()

In [149]:
train_test_score(m4)

Training Score 0.7904191616766467
Testing Score 0.7982062780269058

#### SVM

In [150]:
m5=SVC(kernel='linear',C=1)
m5.fit(x_train,y_train)

SVC(C=1, kernel='linear')

In [151]:
train_test_score(m5)

Training Score 0.7829341317365269
Testing Score 0.7982062780269058

In [152]:
#### So i analyze and see that Random Forest have the best testing and training score and it's accuracy is the best so using it for test_data

In [153]:
test_data=pd.read_csv('test.csv')

In [154]:
test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [155]:
test_data.drop('PassengerId',axis=1,inplace=True)

In [156]:
test_data.drop('Cabin',axis=1,inplace=True)

In [160]:
test_data.drop('Embarked',axis=1,inplace=True)

In [161]:
test_data.drop('Name',axis=1,inplace=True)

In [162]:
test_data.drop('Ticket',axis=1,inplace=True)

In [163]:
test_data.isnull().sum()

Pclass     0
Sex        0
Age       86
SibSp      0
Parch      0
Fare       1
dtype: int64

In [164]:
test_data['Age'].fillna(test_data['Age'].mean(),inplace=True)

In [165]:
train_data['Fare'].fillna(test_data['Fare'].mean(),inplace=True)

KeyError: 'Fare'

In [166]:
test_data.isnull().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      1
dtype: int64

In [167]:
test_data.drop('Fare',axis = 1,inplace=True)

In [168]:
test_data.isnull().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
dtype: int64

In [169]:
test_data.dtypes

Pclass      int64
Sex        object
Age       float64
SibSp       int64
Parch       int64
dtype: object

In [170]:
lb=LabelEncoder()
test_data['Sex']=lb.fit_transform(test_data['Sex'])

In [171]:
a_test = test_data[['Pclass','Sex','Age','SibSp','Parch']]

In [115]:
m1=DecisionTreeClassifier(criterion='gini',max_depth=5)
m1.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=5)

In [174]:
y_pred=m2.predict(a_test)

In [175]:
print(y_pred)

[0 1 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 1
 1 0 0 0 0 0 1 1 0 0 0 1 0 1 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 1 0
 1 0 0 1 0 1 1 0 0 0 0 0 1 1 1 1 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0
 0 0 1 0 0 0 0 0 1 1 0 0 1 1 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 0 0 1 0 1 1 0 1 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 0 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 1 1 1 1 0 0 1 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 1 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]