In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
td = pd.read_csv('train.csv')
ts = pd.read_csv('test.csv')

In [3]:
td.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
td.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
td['Age'].fillna(td['Age'].mean(),inplace=True)

In [15]:
td.drop('Embarked',axis=1,inplace=True)

In [9]:
td.drop('Cabin',axis=1,inplace=True)

In [16]:
td.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
dtype: int64

In [19]:
td.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
dtype: object

In [20]:
td.drop('Ticket',axis=1,inplace=True)
td.drop('PassengerId',axis=1,inplace=True)
td.drop('Name',axis=1,inplace=True)

In [21]:
td.dtypes

Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
dtype: object

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
lb = LabelEncoder()
td['Sex']=lb.fit_transform(td['Sex'])

In [24]:
td.dtypes

Survived      int64
Pclass        int64
Sex           int32
Age         float64
SibSp         int64
Parch         int64
Fare        float64
dtype: object

In [25]:
x = td.drop('Survived',axis=1)
y = td['Survived']

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [29]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [30]:
def get_cls_metrics(y_test,y_pred):
    print('Accuracy Score',accuracy_score(y_test,y_pred))
    cm = confusion_matrix(y_test,y_pred)
    print(cm)
    
def train_test_score(model):
    print('Training Score',model.score(x_train,y_train))
    print('Testing Score',model.score(x_test,y_test))

#### MODEL BUILDING <br>
#### Logistic Regression

In [31]:
m1=LogisticRegression()
m1.fit(x_train,y_train)

LogisticRegression()

In [32]:
train_test_score(m1)

Training Score 0.7859281437125748
Testing Score 0.8116591928251121

#### Decision Tree Classifier

In [33]:
m2=DecisionTreeClassifier(criterion='gini',max_depth=5)
m2.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=5)

#### Random Forest Classifier

In [34]:
m3=RandomForestClassifier(criterion='entropy',n_estimators=10,max_depth=5)
m3.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', max_depth=5, n_estimators=10)

#### SVC

In [35]:
m4=SVC(kernel='linear',C=1)
m4.fit(x_train,y_train)

SVC(C=1, kernel='linear')

#### KNieghbors Classifier

In [37]:
m5=KNeighborsClassifier(n_neighbors=30)
m5.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=30)

In [43]:
print('m1 :'),train_test_score(m1)
print(" ")
print('m2 :'),train_test_score(m2)
print(" ")
print('m3 :'),train_test_score(m3)
print(" ")
print('m4 :'),train_test_score(m4)
print(" ")
print('m5 :'),train_test_score(m5)

m1 :
Training Score 0.7859281437125748
Testing Score 0.8116591928251121

m2 :
Training Score 0.842814371257485
Testing Score 0.8295964125560538

m3 :
Training Score 0.8338323353293413
Testing Score 0.8295964125560538

m4 :
Training Score 0.7769461077844312
Testing Score 0.8161434977578476

m5 :
Training Score 0.7005988023952096
Testing Score 0.7533632286995515

(None, None)

In [45]:
#### I got model m2 as the best among all so using that model for testing the prediction

In [46]:
ts.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [47]:
ts.drop('PassengerId',axis=1,inplace=True)
ts.drop('Ticket',axis=1,inplace=True)
ts.drop('Embarked',axis=1,inplace=True)
ts.drop('Name',axis=1,inplace=True)
ts.drop('Cabin',axis=1,inplace=True)

In [48]:
ts.isnull().sum()

Pclass     0
Sex        0
Age       86
SibSp      0
Parch      0
Fare       1
dtype: int64

In [49]:
ts['Fare'].fillna(ts['Fare'].mean(),inplace=True)
ts['Age'].fillna(ts['Age'].mean(),inplace=True)

In [50]:
ts.isnull().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [51]:
ts.dtypes

Pclass      int64
Sex        object
Age       float64
SibSp       int64
Parch       int64
Fare      float64
dtype: object

In [52]:
ts['Sex']=lb.fit_transform(ts['Sex'])

In [53]:
ts.dtypes

Pclass      int64
Sex         int32
Age       float64
SibSp       int64
Parch       int64
Fare      float64
dtype: object

In [54]:
a_test=ts[['Pclass','Sex','Age','SibSp','Parch','Fare']]

In [55]:
y_pred=m2.predict(a_test)
print(y_pred)

[0 0 0 0 1 0 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 1 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 1 0
 1 0 0 1 0 1 1 0 0 0 0 0 1 1 0 1 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 0 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0
 0 0 1 0 0 0 0 0 1 1 0 1 0 1 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0
 1 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 0 0 0 0 1 1 0 1 0 0 0 1 0
 0 1 0 0 1 1 1 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 1 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 0 1 0 1 1 0 1 0 0 0]