In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
train_df=pd.read_csv('train.csv')
test_df=pd.read_csv('test.csv')

In [5]:
train_df.drop('Name',axis=1,inplace=True)
train_df.drop('Ticket',axis=1,inplace=True)
train_df.drop('Cabin',axis=1,inplace=True)
train_df.drop('Embarked',axis=1,inplace=True)

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
lb=LabelEncoder()
train_df['Sex']=lb.fit_transform(train_df['Sex'])

In [8]:
train_df['Age'].fillna(train_df['Age'].mean(),inplace=True)

In [9]:
x=train_df.drop('Survived',axis=1)
y=train_df['Survived']

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(x_test.shape)

(668, 7)
(223, 7)
(668,)
(223, 7)

In [12]:
from sklearn.metrics import accuracy_score

In [13]:
def Accuracy_Score(y_test,y_pred) :
    return(("Accuracy Score :",accuracy_score(y_test,y_pred)))

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [15]:
print(x_train.shape)
print(y_train.shape)

(668, 7)
(668,)

#### Decision Tree Classifier

In [16]:
m3=DecisionTreeClassifier(criterion='gini',max_depth=5)
m3.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=5)

In [17]:
ypred_m3=m3.predict(x_test)

In [18]:
Accuracy_Score(y_test,ypred_m3)

('Accuracy Score :', 0.8071748878923767)

#### Random Forest Classifier

In [19]:
m1=RandomForestClassifier(n_estimators=55,criterion='gini',max_depth=5)
m1.fit(x_train,y_train)

RandomForestClassifier(max_depth=5, n_estimators=55)

In [20]:
ypred_m1=m1.predict(x_test)

In [21]:
Accuracy_Score(y_test,ypred_m1)

('Accuracy Score :', 0.8565022421524664)

#### Logistic Regression

In [22]:
m2=LogisticRegression()
m2.fit(x_train,y_train)

C:\Users\UMAIR\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [23]:
ypred_m2=m2.predict(x_test)

In [24]:
Accuracy_Score(y_test,ypred_m2)

('Accuracy Score :', 0.8161434977578476)

#### KNeighborsClassifier

In [25]:
m4=KNeighborsClassifier(n_neighbors=27)
m4.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=27)

In [26]:
ypred_m4=m4.predict(x_test)

In [27]:
Accuracy_Score(y_test,ypred_m4)

('Accuracy Score :', 0.6681614349775785)

#### SVC

In [28]:
m5=SVC(kernel='linear',C=1)
m5.fit(x_train,y_train)

SVC(C=1, kernel='linear')

In [29]:
ypred_m5=m5.predict(x_test)

In [30]:
Accuracy_Score(y_test,ypred_m5)

('Accuracy Score :', 0.8340807174887892)

In [37]:
test_df

     PassengerId  Pclass  Sex       Age  SibSp  Parch      Fare
0            892       3    1  34.50000      0      0    7.8292
1            893       3    0  47.00000      1      0    7.0000
2            894       2    1  62.00000      0      0    9.6875
3            895       3    1  27.00000      0      0    8.6625
4            896       3    0  22.00000      1      1   12.2875
..           ...     ...  ...       ...    ...    ...       ...
413         1305       3    1  30.27259      0      0    8.0500
414         1306       1    0  39.00000      0      0  108.9000
415         1307       3    1  38.50000      0      0    7.2500
416         1308       3    1  30.27259      0      0    8.0500
417         1309       3    1  30.27259      1      1   22.3583

[418 rows x 7 columns]

In [32]:
test_df.drop('Name',axis=1,inplace=True)
test_df.drop('Ticket',axis=1,inplace=True)
test_df.drop('Cabin',axis=1,inplace=True)
test_df.drop('Embarked',axis=1,inplace=True)

In [34]:
test_df['Sex']=lb.fit_transform(test_df['Sex'])
test_df['Age'].fillna(test_df['Age'].mean(),inplace=True)

In [35]:
test_df.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           1
dtype: int64

In [36]:
test_df['Fare'].fillna(test_df['Fare'].mean(),inplace=True)

In [38]:
ytestpred_m1=m1.predict(test_df)

In [39]:
print(ytestpred_m1)

[0 0 0 0 0 0 1 0 0 0 0 0 1 0 1 1 0 0 0 0 1 0 1 1 1 0 1 0 1 0 0 0 0 0 0 0 0
 0 0 0 0 1 0 1 1 0 1 0 1 0 1 0 1 1 0 0 0 0 0 1 0 0 0 0 1 1 0 0 1 1 0 0 0 1
 1 1 0 1 0 0 0 0 0 0 0 0 0 0 1 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 1 1 0 1 0 0 1 1 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 0
 1 0 1 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 1 0 1 0 0 0 0 0 0 1 1 0 1 1 0 1 1 0 1
 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 1 1 0 0 1 0 1 0 0 0 0 1 0 0 1 1 1 0 1 0
 1 0 1 0 0 1 0 0 0 1 0 0 1 0 0 0 1 1 1 1 1 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 1 0 1 1 0 1 0 0 0 0 0 1 1 0 1 0 0 1 0 0 0 1 0 1 0 0
 1 0 0 0 0 0 0 0 1 1 1 1 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 1 1 0 1 1 0 0 1 1 0
 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 0 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 0 0
 1 1 1 1 1 0 0 1 0 0 0]

In [50]:
test_df

     PassengerId  Pclass  Sex       Age  SibSp  Parch      Fare
0            892       3    1  34.50000      0      0    7.8292
1            893       3    0  47.00000      1      0    7.0000
2            894       2    1  62.00000      0      0    9.6875
3            895       3    1  27.00000      0      0    8.6625
4            896       3    0  22.00000      1      1   12.2875
..           ...     ...  ...       ...    ...    ...       ...
413         1305       3    1  30.27259      0      0    8.0500
414         1306       1    0  39.00000      0      0  108.9000
415         1307       3    1  38.50000      0      0    7.2500
416         1308       3    1  30.27259      0      0    8.0500
417         1309       3    1  30.27259      1      1   22.3583

[418 rows x 7 columns]

In [51]:
ytestpred_m1.shape

(418,)

In [53]:
test_df['Survived']=ytestpred_m1

In [54]:
test_df

     PassengerId  Pclass  Sex       Age  SibSp  Parch      Fare  Survived
0            892       3    1  34.50000      0      0    7.8292         0
1            893       3    0  47.00000      1      0    7.0000         0
2            894       2    1  62.00000      0      0    9.6875         0
3            895       3    1  27.00000      0      0    8.6625         0
4            896       3    0  22.00000      1      1   12.2875         0
..           ...     ...  ...       ...    ...    ...       ...       ...
413         1305       3    1  30.27259      0      0    8.0500         0
414         1306       1    0  39.00000      0      0  108.9000         1
415         1307       3    1  38.50000      0      0    7.2500         0
416         1308       3    1  30.27259      0      0    8.0500         0
417         1309       3    1  30.27259      1      1   22.3583         0

[418 rows x 8 columns]

In [56]:
submission = test_df[['PassengerId','Survived']]

In [57]:
submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [58]:
submission.to_csv('submission.csv',index=False)

In [59]:
submission.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0